* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-weight: 600;
}

html,
body {
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 25px 25px;
}

.top-nav-right-wrapper {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-nav-left-wrapper {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gmail {
  float: left;
}

.images {
  float: right;
  padding-left: 20px;
}

.profile {
  float: right;
  max-height: 25px;
  margin-left: 30px;
  border-radius: 50%;
  margin-top: -3px;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}

.profile:hover {
  background: #e1e1e1;
  box-shadow: 0 0 0 4px #e4e4e4;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

textarea:focus,
input:focus {
  outline: none;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none; /* <-- This thing here */
  border: solid 1px #ccc;
  border-radius: 30px;
  padding: 10px;
  height: 20px;
  max-width: 550px;
  width: 100%;
  margin: 30px 0;
}
.searchbar:active {
  border: none;
}

.input {
  width: 100%;
  border: none;
}

.input:hover {
  box-shadow: 0 0 0 1px #e4e4e4;
  border-radius: 30px;
}

.searchbutton {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
}

button:hover {
  box-shadow: 0 0 0 1px #e4e4e4;
}

.line {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  position: relative;
  z-index: 999;
  height: 1px;
  background-color: rgb(238, 238, 238);
  padding: none;
}
.uk {
  padding-top: 10px;
  padding-bottom: none;
  background-color: rgba(245, 245, 245, 0.734);
  color: gray;
}
.uk div {
  margin-left: 80px;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f2f2f2;
}

.footer-item {
  display: block;
  white-space: nowrap;
  font-weight: 500;
  color: #70757a;
  font-family: arial, sans-serif;
  font-size: 14px;
  padding: 15px;
}

.footer-item-top {
  padding: 15px 30px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
}

.footer-item:hover {
  text-decoration: underline;
}

.footer-top-row {
  width: 100%;
  border-bottom: 1px solid #dadce0;
}

.footer-bottom-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}

.footer-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-item-wrapper-left {
  justify-content: flex-start;
  min-width: 30%;
  order: 1;
}
.footer-item-wrapper-middle {
  order: 2;
  justify-content: center;
  align-items: center;
}

.footer-item-wrapper-right {
  justify-content: flex-end;
  min-width: 30%;
  order: 3;
}

@media only screen and (max-width: 1200px) {
  .footer-item-wrapper-middle {
    order: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.about,
.store {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #222;
  font-weight: 500;
  padding: 5px;
}

.gmail,
.images {
  font-size: 13px;
  font-family: arial, sans-serif;
  color: #222;
  font-weight: 500;
}

.gmail:hover,
.images:hover,
.about:hover,
.store:hover {
  text-decoration: underline;
}
.svg-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding-left: 20px;
}

.svg:hover {
  background: rgba(95, 99, 104, 0.24);
  border-radius: 50%;
  padding: -10px;
}

.leaf-icon {
  height: 14px;
}
.content-container {
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.spacer {
  height: 10%;
}
